:root {
	/* ------- colors ------- */
	--primary-color: #27272a;
	--secondary-color: #65656d;
	--tertiary-color: #acacb4;
	--quaternary-color: #e4e4e7;
	--link-color: #14b8a6;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}

* {
	font-family: var(--primary-font);
}

/* HEADER */
.header {
  background-color: var(--primary-color);
  display: block;
  color: var(--tertiary-color);
} 

.header img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 20%;
  margin-right: 20px;
}

.header h1 {
  color: var(--quaternary-color);
}

h1 {
    margin: 0;
    padding-top: 25px;
    text-align: center;
    color: var(--primary-color);
    font-size: 3rem;
    align-items: right;
  }

  /* NAVBAR */
  .nav-tabs {
    background: var(--secondary-color);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    --bs-nav-tabs-border-color: var(--secondary-color) !important;
    list-style: none;
    justify-content: space-around;

  }
  ul.nav.nav-tabs a.nav-link.active {
    background: var(--primary-color);
    border-color: black;
  }
  
  .nav-tabs a {
    color: var(--quaternary-color);
    font-size: 1rem;
    text-decoration: none;
    margin: 3px;
    line-height: 2;
    justify-content: space-between;
  }
  
  /* SECTION */
  .section {
    background: var(--tertiary-color);
    padding: 20px;  
    overflow-y: auto;
  }
  
  .section h2 {
    text-align: center;
    color: var(--primary-color);
  }

  .about {
    background: var(--quaternary-color);
    padding: 20px;
    color: var(--primary-color);
    height: 100vh;
    overflow-y: auto;
    margin-bottom: 50px;
    padding-bottom: 50px;
  }

  .about img {
    width: 400px;
    height: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .about p {
    font-size: 1.5rem;
    text-align: center;
    color: var(--primary-color);
  }

  /* FOOTER */
  .footer {
    background: var(--secondary-color);
    margin: 0 auto;
    display: flex-nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    list-style: none;
    justify-content: space-around;
  }
  .problem {
    text-align:center
  }
  .enclose {
    position:fixed;bottom:0px;width:100%;
  }
  
  .social-icons {
    align-content: center;
  }

  /* PROJECTS */
  .projects{
    height: 180vh;
    margin-bottom: 50px;
    padding-bottom: 50px;
    overflow-y: auto;
    max-width: 100%;
  }

  .project p {
    font-size: 1.5rem;
    text-align: center;
    color: var(--primary-color);
    max-width: 80%;
  }

  .projects-container {
    margin-bottom: 50px;
    overflow-y: auto;
  }

  .project-card-container {
    max-width: 500px;
    margin: 0 auto;
  }

  .project-title {
    color: var(--DarkPurple);
    border-radius: 10px;
    background-color: var(--SpringGreen);
    font-size: 1.5rem;
    text-align: center;
  }

  .project-card {
    background-color: var(--Eucalyptus) !important;
    border-radius: 10px;
    color: var(--Eucalyptus);
    margin: 10px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
  }

  .project-img { 
    border-radius: 10px;
  }

  .project-img:hover {
    opacity: 0.5;
  }

  .project-img:active {
    border: black solid;
  }
  /* PAGES */
  .page-div {
    background-color: var(--tertiary-color);
    border-radius: 10px;
    color: var(--primary-color)
  }

  /* BACKGROUND HTML PAGE */
  body.custom-body {
    background-color: var(--SpringGreen) !important;
  }

/* Resume */

.resume {
  max-height: max-content;
  overflow-y: auto;
  height: 150vh;
}

.resume-container {
  padding-bottom: 50px;
  padding-top: 20px;
  border: 10px var(--black) solid;
  max-height: fit-content;
  overflow-y: auto;
}

.download-link {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0 10px;
}
.download-link:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

.contact-message {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0 10px;
  margin-bottom: 20px;
}

@media (max-width: 1270px) {
	.page-content:before,
	.page-content:after {
		width: calc((100% - 90%) / 2);
	}

	.content-wrapper {
		max-width: 90%;
		padding-left: 10%;
		padding-right: 10%;
	}
}

@media (max-width: 1024px) {
	.page-content:before,
	.page-content:after {
		width: calc((100% - 950px) / 2);
	}

	.content-wrapper {
		max-width: 980px;
	}
}

@media (max-width: 800px) {
	.content-wrapper {
		max-width: 90%;
		margin: 0 auto;
		padding: 0 10px;
	}

	.page-content:before,
	.page-content:after {
		display: none;
	}

	.title {
		width: 100%;
	}

	.subtitle {
		width: 100%;
	}
}
